#diferenciais
    .content
        img
            display block
            margin 0 auto
        h3
            display block
            width 100%
            margin 20px 0 15px
            border-bottom 1px solid black
        ul
            clearfix()
            list-style-type none
            padding 0
            li
                width 33%
                margin-bottom 5px
                float left
