#home
    .banners-wrapper
        width 980px
        height 480px
        position relative
        margin-bottom 60px
        &:after
            content ""
            position absolute
            display block
            width 566px
            height 20px
            bottom -20px
            left 0
            background #A9ABAE
        .banner
            display none
            position absolute
            top 0
            left 0
            &:first-child
                display block
        h3
            display block
            position absolute
            bottom 0
            left 0
            margin 0
            background rgba(250, 146, 33, .8)
            padding 40px 70px
            color white
            cursor default
            oxygen 20 bold
            line-height 1.5
            text-align center
    .chamadas
        width 912px
        margin 0 auto 52px
        clearfix()
        a
            position relative
            border-left 1px solid #999999
            display block
            width 172px
            float left
            margin-right 13px
            text-decoration none
            color #4D4D4D
            transition color .3s ease, border .3s ease
            &:hover
                color #fa9221
                border-color #fa9221
            &:last-child
                margin 0
            p
                margin 0
                padding 5px 12px 20px
            img
                display block
                height 80px
    .treinamento-link
        width 820px
        margin 0 auto
        border 1px dashed rgba(#000, .3);
        display block
        padding 12px 0
        oxygen 16
        text-align center
        text-decoration none
        color #727376
        transition color .3s, border .3s
        &:hover
            color #fa9221
            border-color #fa9221
