#treinamento
    .treinamento-categoria
        margin-bottom 20px
        h3
            color #fa9221
            oxygen 18 bold
            display block
        li
            color #727376
        a
            display block
            oxygen 15
            text-decoration none
            color #727376
            transition color .3s
            &:hover
                color #fa9221