#empresas
    clearfix()
    .content
        width 900px
    a
        display block
        width 25%
        float left
        margin-bottom 40px
        color black
        text-decoration none
        transition color .3s ease
        clearfix()
        .imagem
            display block
            width 100%
            padding 12px
            float left
            img
                display block
                width 100%
                height auto
        .descricao
            display block
            width 100%
            padding-top 25px
            text-align center
            padding 0 25px
        &:hover
            color #B53026
            .imagem
                border-color #B53026
