#home
    .banners-wrapper
        width 980px
        height 480px
        position relative
        margin-bottom 60px
        &:after
            content ""
            position absolute
            display block
            width 566px
            height 20px
            bottom -20px
            left 0
            background #A9ABAE
        .banner
            display none
            position absolute
            top 0
            left 0
            &:first-child
                display block
        h3
            display block
            position absolute
            bottom 0
            left 0
            margin 0
            background rgba(190, 75, 64, .7)
            padding 40px 70px
            color white
            cursor default
            oxygen 20 bold
            line-height 1.5
            text-align center
    .chamadas
        width 870px
        margin 0 auto 52px
        clearfix()
        a
            position relative
            text-align center
            display block
            width 195px
            float left
            margin-right 30px
            text-decoration none
            color #4D4D4D
            transition color .3s ease, border .3s ease
            &:hover
                color #BE4B40
            &:last-child
                margin 0
            img
                display block
                width 195px
                height auto
    .vagas
        display block
        width 820px
        margin 0 auto
        background #EBEBEB
        border 1px solid #D2D3D5
        text-align center
        padding 30px
        text-decoration none
        transition background .3s ease
        h3
            color #BE4B40
            oxygen 20 bold
            margin 0 0 12px
            text-transform uppercase
            transition color .3s ease
        p
            oxygen 14
            color #4D4D4D
            transition color .3s ease
        &:hover
            background #BE4B40
            h3
            p
                color white
        span.seta
            text-indent -9999px
            display inline-block
            width 20px
            height 20px
            background $img('seta-vagas.png') no-repeat center
