#institucional
    nav
        display block
        width 100%
        clearfix()
        margin-bottom 30px
        a
            display block
            float left
            padding 8px 18px
            background #727376
            text-align center
            oxygen 12 bold
            color white
            text-decoration none
            text-transform lowercase
            transition background .3s ease
            &:hover
            &.active
                background black
    .content
        width 815px
        margin 60px 0 0 115px
    .texto
        clearfix()
        oxygen 20
        line-height 1.5
        p
            margin 0 0 20px
        ul
            padding 0 0 0 15px
            margin-top 0
            li
                margin 5px 0
        .texto1
            width 310px
            float left
        .imagem
            width 450px
            float right
    .origem-do-nome
        .texto
            oxygen 14
            p
                margin 0 0 20px
                &:first-child
                    line-height 30px
                strong
                    oxygen 20 bold
    .valores
        .texto
            ul
                list-style-type none
                padding 0
                li
                    padding-left 25px
                    position relative
                    margin-bottom 5px
                    &:before
                        position absolute
                        content ""
                        display block
                        float left
                        top 12px
                        left 0
                        width 14px
                        height 8px
                        background $img('bullet.png') no-repeat center
    .descritivo
        width 750px
        .texto
            oxygen 14
            .texto1
                float none
                width 100%
            .imagem
                width 450px
                height auto
                float left
            .texto2
                width 255px
                float right
